body {
    margin: 0;
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    /* background-color: #f1f1f1; */
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 1px 0px 8px #d9d6d6;
  }
  
  .sidebar .list-group-item {
    /* display: block; */
    display: flex;
    align-items: center;
    color: black;
    padding: 20px 0px 20px 70px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    background: url(../images/home.svg) no-repeat 35px 16px;
  }
  .sidebar .list-group-item img{
      width: 22px;
      margin-right: 15px;
  }
  .sidebar .list-group-item:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #0770e8;
  }
  .sidebar .list-group-item.active{
    text-decoration: none;
    color: #ffffff;
    background-color: #0770e8!important;
  }
  .sidebar .list-group-item:hover:nth-child(1), .sidebar .list-group-item.active:nth-child(1){
    background-image: url(../images/home-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    
  }

  .sidebar .list-group-item:nth-child(2){
    background-image: url(../images/banking.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    
  }
  .sidebar .list-group-item:hover:nth-child(2), .sidebar .list-group-item.active:nth-child(2){
    background-image: url(../images/banking-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    
  }

  .sidebar .list-group-item:nth-child(3){
    background-image: url(../images/payroll.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    
  }
  .sidebar .list-group-item:hover:nth-child(3), .sidebar .list-group-item.active:nth-child(3){
    background-image: url(../images/payroll-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    
  }

  .sidebar .list-group-item:nth-child(4){
    background-image: url(../images/cards.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    
  }
  .sidebar .list-group-item:hover:nth-child(4), .sidebar .list-group-item.active:nth-child(4){
    background-image: url(../images/cards-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    
  }

  .sidebar .list-group-item:nth-child(5){
    background-image: url(../images/invoices.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 22px;
    
  }
  .sidebar .list-group-item:hover:nth-child(5), .sidebar .list-group-item.active:nth-child(5){
    background-image: url(../images/invoices-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0770e8;
    background-size: 22px;
    
  }

  .sidebar .list-group-item:nth-child(7){
    background-image: url(../images/gst.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    
  }
  .sidebar .list-group-item:hover:nth-child(7), .sidebar .list-group-item.active:nth-child(7){
    background-image: url(../images/gst-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    
  }

  .sidebar .list-group-item:nth-child(6){
    background-image: url(../images/travel.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    
  }
  .sidebar .list-group-item:hover:nth-child(6), .sidebar .list-group-item.active:nth-child(6){
    background-image: url(../images/travel-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    
  }

  .sidebar .list-group-item:nth-child(8){
    background-image: url(../images/reports.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-size: 22px;
    
  }
  .sidebar .list-group-item:hover:nth-child(8), .sidebar .list-group-item.active:nth-child(8){
    background-image: url(../images/reports-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 16px;
    background-color: #0770e8;
    background-size: 22px;
    
  }

  
  div.content {
    margin-left: 250px;
    padding: 1px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

div.content span {
    color: #0745E5;
    margin-left: 
4px
;
}

  /* .list-group-item.active{
    background-color: #0770e8;
    border-color: #0770e8;
  } */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }