body {
    margin: 0;
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }
  
/* ---------- Index ---------- */
.main-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  height: 100vh;
    justify-content: center;
    align-items: center;
}


.item-left {
  padding: 10px;
  flex: 50%;
}
.item-left p{
  font-size: 16px;
  margin-bottom: 10px;
}

.item-right {
  padding: 10px;
  flex: 50%;
}
.item-right ul{
  margin: 0;
  padding: 0;
}
.item-right ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0px 20px 20px 20px;
}
.item-right ul li a{
  /* background: #000; */
  border-radius: 10px;
  width: 80px;
  height: 80px;
  display: block;
  line-height: 80px;
  color: #0745E5;
  text-decoration: none;
  border: 1px solid #0745E5;
}
.item-right ul li a:hover{
  background: #0745E5;
  color: #ffffff;
}
/* ---------- Index End---------- */


























  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    /* background-color: #f1f1f1; */
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 1px 0px 8px #d9d6d6;
  }
  .logo{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
  }
  .sidebar a.list-group-item:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #0745E5;
  }
  .sidebar a.list-group-item.active{
    color: #ffffff;
  }
  .sidebar a.list-group-item {
    /* display: block; */
    display: flex;
    align-items: center;
    color: black;
    /* padding: 20px 0px 20px 70px; */
    padding: 16px 0px 16px 70px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    background: url(../images/home.svg) no-repeat 35px 14px;
    font-size: 14px;
    background-size: 20px;
  }
  .sidebar a.list-group-item:hover:nth-child(2), .sidebar .list-group-item.active:nth-child(2){
    background-image: url(../images/home-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 14px;
    background-color: #0745E5;
    background-size: 20px;
    
  }

  .sidebar a.list-group-item:nth-child(3){
    background-image: url(../images/banking.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 20px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(3), .sidebar .list-group-item.active:nth-child(3){
    background-image: url(../images/banking-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 20px;
    
  }

  .sidebar a.list-group-item:nth-child(4){
    background-image: url(../images/payroll.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 20px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(4), .sidebar a.list-group-item.active:nth-child(4){
    background-image: url(../images/payroll-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 20px;
    
  }

  .sidebar a.list-group-item:nth-child(5){
    background-image: url(../images/cards.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 20px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(5), .sidebar a.list-group-item.active:nth-child(5){
    background-image: url(../images/cards-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 20px;
    
  }

  .sidebar a.list-group-item:nth-child(6){
    background-image: url(../images/invoices.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 18px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(6), .sidebar a.list-group-item.active:nth-child(6){
    background-image: url(../images/invoices-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 18px;
    
  }

  .sidebar a.list-group-item:nth-child(7){
    background-image: url(../images/gst.svg);
    background-repeat: no-repeat;
    background-position: 35px 13px;
    background-size: 20px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(7), .sidebar a.list-group-item.active:nth-child(7){
    background-image: url(../images/gst-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 13px;
    background-color: #0745E5;
    background-size: 20px;
    
  }

  .sidebar a.list-group-item:nth-child(8){
    background-image: url(../images/travel.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 20px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(8), .sidebar a.list-group-item.active:nth-child(8){
    background-image: url(../images/travel-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 20px;
    
  }

  .sidebar a.list-group-item:nth-child(9){
    background-image: url(../images/reports.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 18px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(9), .sidebar a.list-group-item.active:nth-child(9){
    background-image: url(../images/reports-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 18px;
    
  }
  .sidebar a.list-group-item:nth-child(10){
    background-image: url(../images/demo.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-size: 18px;
    
  }
  .sidebar a.list-group-item:hover:nth-child(10), .sidebar a.list-group-item.active:nth-child(10){
    background-image: url(../images/demo-hover.svg);
    background-repeat: no-repeat;
    background-position: 35px 12px;
    background-color: #0745E5;
    background-size: 18px;
    
  }





  
  div.content {
    margin-left: 250px;
    padding: 1px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  div.content span{
      color: #0745E5;
      margin-left: 4px;
  }
  /* .list-group-item.active{
    background-color: #0745E5;
    border-color: #0745E5;
  } */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }